@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer components {
  .container {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 4px;
    padding-right: 4px;
  }

  @media (min-width: 1200px) {
    .container {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  @media (min-width: 375px) {
    .container {
      max-width: 375px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
}

